@import "tailwindcss";

@theme {
  --color-primary: #ff5252;
  --color-primary-dull: #e04848;
  /* --color-main: #f8f5ff; */
  --color-main: #f3f4f6;

  --text-normal: 14px;
  --color-sbar: #f1f1f1;
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
.container {
  min-width: 90%;
  max-width: 95%;
  margin: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #f7f2ff; */
  overflow-x: hidden;
  color: black;
  /* font-optical-sizing: auto; */
}

::-webkit-scrollbar {
  display: none !important;
}
.mySwiper {
  overflow: inherit !important;
}

.catesliderhome .item:hover img {
  transform: scale(1.1);
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.swiper-pagination-bullet-active {
  background-color: #ff5252 !important;
}

.product-slider .swiper-pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-size: 12px;
  margin-left: auto;
  padding: 3px 6px;
  border-radius: 10px;
  width: 50px !important; /* prevent stretching */
}
